<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tpi.sagal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityViewFarms"
            android:label="@string/title_activity_main_activity_view_farms" >
            <intent-filter>
                <action android:name="com.tpi.sagal.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FarmDetails"
            android:label="@string/title_activity_main_activity_view_farms" >
            <intent-filter>
                <action android:name="com.tpi.sagal.FARMDETAILS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        

        <activity
            android:name=".CreateFarm"
            android:label="@string/title_activity_main_activity_view_farms" >
            <intent-filter>
                <action android:name="com.tpi.sagal.CREATEFARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name=".ViewCattle"
            android:label="@string/title_activity_main_activity_view_farms" >
            <intent-filter>
                <action android:name="com.tpi.sagal.VIEWCATTLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        
        
        
        <activity
            android:name=".CreateCow"
            android:label="@string/title_activity_main_activity_view_farms" >
            <intent-filter>
                <action android:name="com.tpi.sagal.CREATECOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".CattleDetails"
            android:label="@string/title_activity_main_activity_view_farms" >
            <intent-filter>
                <action android:name="com.tpi.sagal.CATTLEDETAILS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SelectHoof"
            android:label="@string/title_activity_main_activity_view_farms" >
            <intent-filter>
                <action android:name="com.tpi.sagal.SELECTHOOF" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        
        
        <activity
            android:name=".InjuryRegistration"
            android:label="@string/title_activity_main_activity_view_farms" >
            <intent-filter>
                <action android:name="com.tpi.sagal.INJURYREGISTRATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".AddNotes"
            android:label="@string/title_activity_main_activity_view_farms" >
            <intent-filter>
                <action android:name="com.tpi.sagal.ADDNOTES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
        
        <activity
            android:name=".LocomotionScoring"
            android:label="@string/title_activity_main_activity_view_farms" >
            <intent-filter>
                <action android:name="com.tpi.sagal.LOCOMOTIONSCORING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".EditCow"
            android:label="@string/title_activity_main_activity_view_farms" >
            <intent-filter>
                <action android:name="com.tpi.sagal.EDITCOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
        
         <activity
            android:name=".EditFarm"
            android:label="@string/title_activity_main_activity_view_farms" >
            <intent-filter>
                <action android:name="com.tpi.sagal.EDITFARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".ShowStatistics"
            android:label="@string/title_activity_main_activity_view_farms" >
            <intent-filter>
                <action android:name="com.tpi.sagal.SHOWSTATISTICS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
        
    </application>

</manifest>